div.assembly,
.assembly div,
:before,
:after {
  position: absolute;
  transform-style: preserve-3d;
}

.assembly {
  position: absolute;
  top: 25rem;
  left: 50%;
  transform: rotateX(-16deg) rotateY(0deg);
  font-size: 2vmin;
}

.wheel {
  transform: translate(0rem);
  perspective: 1200px;
}

.wheel > * {
  animation-direction: reverse;
}

.rotor {
  /* animation: r 10s linear infinite; */
  transform-style: preserve-3d;
}

.rotor:hover {
  animation-play-state: paused;
}

@keyframes r {
  0% {
    transform: rotateY(1turn);
  }
}

.node-container {
  transform-style: preserve-3d;
  /* transition: transform 1s ease; */
}

.node {
  /* margin: -2.5em; */
  /* width: 80px;
            height: 80px; */
  backface-visibility: visible;
  /* box-shadow: 0 0 5px #424242; */
  background: url("./assets/images/Ellipse\ 5.png") no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  position: relative;
  box-shadow: 0 36px 36px silver;
  cursor: pointer;
}

.node-text {
  font-size: 12px;
  position: absolute;
  left: 8px;
  bottom: -2rem;
  background: #78b2a6;
  padding: 4px 16px;
  border-radius: 5px;
  width: max-content;
  transition: 300ms;
  opacity: 0;
  /* display: none; */
}

.node:hover .node-text {
  display: block;
}

.node-text::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  left: 16px;
  background-color: #78b2a6;
  border-radius: 5px;
  transform: rotate(45deg);
  z-index: -1;
}
.logo {
  transform: translateX(50%) translateY(-50%);
  filter: drop-shadow(0 67px 15px silver);
}

/* other */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, span, p, h1, h2, button, h3, h4, h5, a, a span {
  direction: rtl;
  font-family: "vazir";
}

@font-face {
  font-family: "vazir";
  src: url("./assets/fonts/top\ thought/vazir/Vazirmatn_wght__2.ttf");
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.h-100 {
  height: 100% !important;
}

.header {
  border-radius: 50px;
  background-color: #c0efa2;
  padding: 1rem;
  /* box-shadow: 0 17px 9px #eee; */
  position: relative;
  z-index: 100000;
}

.header-button span {
  color: white;
  font-weight: 400;
  word-wrap: break-word;
}

.header-button {
  background: linear-gradient(
    90deg,
    rgba(51.24, 76, 70.88, 0.27) 0%,
    #78b2a6 100%
  );
  box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1) inset;
  border-radius: 50px;
  padding: 0.75rem;
  color: #fff;
  transition: all ease 0.3s;
  max-width: 10rem;
}

@media screen and (max-width: 575px) {
  .header-button {
    padding: 0.5rem;
    justify-content: center !important;
    width: 2rem;
    height: 2rem;
  }
  .header {
    padding: 0.5rem;
  }
  .leader-pic img {
    width: 100px !important;
    height: 100px !important;
  }
}

.header-button:hover {
  color: #fff !important;
}

.header-button svg path {
  transition: all ease 0.3s;
  transform-origin: center;
}

.header-button:hover svg path {
  transform: rotate(360deg);
}

.header-text {
  color: #001d86;
  font-weight: 400;
  word-wrap: break-word;
  font-size: clamp(0.6rem, 0.5rem + 0.5vw, 1rem);
  margin-bottom: 0;
}

.leader-pic {
  position: absolute;
  top: -57px;
  right: 50%;
  transform: translateX(50%);
}

.leader-pic-container {
  width: 124px;
  height: 124px;
  background-color: #c0efa2;
  border-radius: 50%;
}

.leader-pic img {
  width:94px;
  height: 94px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.leader-pic .radius {
  position: absolute;
  z-index: -1;
  width: 80px;
  height: 80px;
}

.leader-pic .radius:nth-child(2) {
  top: 94px;
  right: 89px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 28px 15px 28px;
  border-color: transparent transparent #c0efa2 transparent;
  transform: rotateZ(19deg);
}

.leader-pic .radius:nth-child(2)::after {
  content: '';
  background-color: #fff;
  width: 91px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  top: 7px;
  right: -43px;
}
.leader-pic .radius:nth-child(3) {
  top: 93px;
  left: 90px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 28px 15px 28px;
  border-color: transparent transparent #c0efa2 transparent;
  transform: rotateZ(-17deg);
}

.leader-pic .radius:nth-child(3)::after {
  content: '';
  background-color: #fff;
  width: 91px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  top: 8px;
  left: -45px;
}

.graph{
  position: relative;
  z-index: 100;
}

.graph.hidden {
  animation: hidden 0.5s ease 1;
  animation-fill-mode: forwards;
  z-index: -10;
}
.leader-pic .radius:nth-child(4) {
  top: 6px;
  right: 79px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 28px 15px 28px;
  border-color: transparent transparent #c0efa2 transparent;
  transform: rotateZ(165deg);
}

.leader-pic .radius:nth-child(5)::after {
  content: '';
  background-color: #fff;
  width: 91px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  top: 8px;
  left: -43px;
}
.leader-pic .radius:nth-child(5) {
  top: 7px;
  right: -10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 28px 15px 28px;
  border-color: transparent transparent #c0efa2 transparent;
  transform: rotateZ(199deg);
}

.leader-pic .radius:nth-child(4)::after {
  content: '';
  background-color: #fff;
  width: 91px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  top: 7px;
  left: -43px;
}

.graph.hidden {
  animation: hidden 0.5s ease 1;
  animation-fill-mode: forwards;
}

@keyframes hidden {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.graph {
  /* min-height: 55rem; */
  background-color: #ffffff80;
  backdrop-filter: blur(3px);
  /* padding-top: 6rem; */
}

.graph .col-lg-1,
.graph .col-lg-2,
.graph .col-lg-3,
.graph .col-lg-4,
.graph .col-lg-5,
.graph .col-lg-6,
.graph .col-lg-7,
.graph .col-lg-8,
.graph .col-lg-9,
.graph .col-lg-10,
.graph .col-lg-11,
.graph .col-lg-12,
.graph .col-md-1,
.graph .col-md-2,
.graph .col-md-3,
.graph .col-md-4,
.graph .col-md-5,
.graph .col-md-6,
.graph .col-md-7,
.graph .col-md-8,
.graph .col-md-9,
.graph .col-md-10,
.graph .col-md-11,
.graph .col-sm-12,
.graph .col-sm-1,
.graph .col-sm-2,
.graph .col-sm-3,
.graph .col-sm-4,
.graph .col-sm-5,
.graph .col-sm-6,
.graph .col-sm-7,
.graph .col-sm-8,
.graph .col-sm-9,
.graph .col-sm-10,
.graph .col-sm-11,
.graph .col-sm-12 {
  padding: 0 !important;
}

.graph .item {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background: linear-gradient(to left, #e6fbf7, #c5c5c5);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.footer{
  margin-bottom: 4rem;
}

.footer-items-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.footer-items {
  cursor: pointer;
}

.footer-items-container .footer-items {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 15%;
}

.footer-items-container .footer-items .number {
  background-color: #c0efa2;
  padding: 1rem 3rem;
  border-radius: 50px;
  text-align: center;
  font-size: clamp(0.938rem, 0.833vw + 0.75rem, 1.75rem);
  font-weight: 300;
  color: #001d86;
}

.footer-items-container .footer-items .text {
  text-align: center;
  color: #001d86;
  font-size: clamp(0.938rem, 0.833vw + 0.75rem, 1.45rem);
}

.menu {
  height: 100%;
  background-color: #c0efa2;
  padding: 2rem;
  border-radius: 2rem;
  position: relative !important;
}
.menu::before {
  content: "";
  width: 60px;
  height: 90px;
  background-color: #fff;
  position: absolute;
  right: -66px;
  top: -1px;
  border-radius: 58%;
  transform: rotate(36deg);
  z-index: 2;
}
@media screen and (max-width: 1375px) {
  .menu {
    padding: 1rem;
  }
}

.menu .rect {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #c0efa2;
  right: -10px;
  top: 35px;
}

.menu .triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 28px 10px 28px;
  border-color: transparent transparent #c0efa2 transparent;
  transform: rotateZ(-72deg);
  position: absolute;
  right: -2rem;
}

.menu .triangle::after {
  content: "";
  width: 8rem;
  height: 8rem;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  right: -3.3rem;
  top: 0.8rem;
}

.menu::after {
  content: "";
  width: 5rem;
  height: 4rem;
  background-color: inherit;
  position: absolute;
  right: -0.5rem;
  top: 0;
  border-radius: 1rem;
  transform: skew(-43deg);
  z-index: -1;
}

@media screen and (max-width: 855) {
  .menu::after {
    display: none !important;
  }
}
.menu .title {
  padding: 0.5rem;
  width: clamp(5rem, 2.2vw + 5rem, 12rem);
  border-radius: 0.5rem;
  background: linear-gradient(to right, #78b2a6 100%, #334c47 27%);
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: clamp(0.45rem, 0.4rem + 0.7258vw, 0.9rem);
  position: absolute;
  top: -2%;
  right: 50%;
  transform: translateX(50%);
}
.menu .body ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu .body ul li {
  width: 100%;
  border-bottom: 1px solid #73ada1;
  text-align: center;
  padding: 0.75rem 0;
}
.menu .body ul li:last-child {
  border-bottom: none;
}

.menu .body ul li a.active {
  background-color: #78b2a6 !important;
  color: #fff;
}

.menu .body ul li a {
  color: #001d86;
  font-weight: 700;
  font-size: clamp(0.45rem, 0.5242rem + 0.7258vw, 1.1rem);
  width: 100%;
  display: block;
  padding: 0.35rem;
  border-radius: 50px;
  text-align: center;
  position: relative;
  transition: background-color ease 0.3s 0.15s, color ease 0.3s;
}

.menu .body ul li a:hover {
  background-color: #78b2a6 !important;
  color: #fff;
}

.menu .body ul li a.active::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-color: #78b2a6;
  position: absolute;
  left: -20%;
  border-radius: 50%;
  animation: activate 0.5s ease-in-out 1;
  animation-fill-mode: forwards;
  z-index: 100;
}

@keyframes activate {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.sub-menu {
  height: 100%;
  border: 3px solid #78b2a6;
  border-radius: 2rem;
  overflow: hidden;
  animation: sub-menu 0.5s ease 1;
  display: none;
}

.sub-menu.show {
  display: block !important;
  animation-fill-mode: forwards;
  display: none;
}

@keyframes sub-menu {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-5rem);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.sub-menu .main {
  background-color: rgba(164, 238, 222, 0.503);
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: end;
}

.sub-menu .main .menu-1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sub-menu .main .menu-1 .categories {
  background-color: #78b2a6;
  position: relative;
  flex-basis: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.3s;
}

.sub-menu .main .menu-1 > div:hover {
  transform: translateX(-5%);
}

/* .sub-menu .main .menu-1 .active {
      clip-path: polygon(100% 0%, 100% 31%, 90.6% 51%, 100% 67.3%, 100% 100%, 0% 100%, 0% 0%);
  } */

.sub-menu .main .menu-1 .active::before {
  content: "";
  width: 3rem;
  height: 3rem;
  background-color: #d1f6ee;
  z-index: 1;
  position: absolute;
  border-radius: 0.5rem;
  right: 0;
  top: 0;
  transform: translateY(67%) translateX(64%) rotateZ(-45deg);
  animation: active 0.3s linear 1;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 1199px) {
  .sub-menu .main .menu-1 .active::before {
    width: 2rem;
    height: 2rem;
  }
}

@keyframes active {
  from {
    transform: translateY(67%) translateX(120%) rotateZ(-45deg);
  }
  to {
    transform: translateY(67%) translateX(64%) rotateZ(-45deg);
  }
}

.sub-menu .main .menu-1 p {
  color: #c0efa2;
}

.return {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .return {
    flex-direction: row;
  }
  .return p {
    transform: rotateZ(0deg) !important;
  }
}

.return p {
  transform: rotateZ(-90deg);
  margin-right: 0;
}

.return button {
  border-radius: 0.25rem;
  border: none;
  width: 2rem;
  height: 2rem;
}

.ellipes {
  width: 900px;
  height: 900px;
  margin: auto;
  border-radius: 50%;
  background-color: #fafafa;
  transform: rotateX(70deg);
  box-shadow: 0 5rem 0px #f0f0f0;
}

.round-circle {
  position: absolute !important;
  width: 1000px;
  height: 900px;
  border-radius: 50%;
  background-color: #FAFAFA;
  transform: rotateX(81deg);
  box-shadow: 0 70px 0px #F0F0F0;
  left: calc(50% - 500px);
  bottom: -44rem;
}